%p
  %em Myriad
  is a competitive non-rotating Constructed format. It has no banlist, but rather uses a points list and a singleton nature to balance things. It is based on Austrlian Highlander (also known as 7 Point Highlander).
