.row
  .col-12
    %h3 Formats
    %p
      Hub of Innovation services one format, and one format alone:
    %ul
      - @formats.sort_by(&:format_pretty_name).each do |format|
        %li
          = link_to format.format_pretty_name, action: "show", id: format.format_pretty_name.parameterize
