.row
  .col-12
    %h3 Formats &mdash; #{@format.format_pretty_name}

    = render partial: "#{@format.format_pretty_name.parameterize.underscore}"

    - if @format.included_sets
      %h4 Included sets
      %p
        Format includes cards from the following sets:
      %ul
        - @included_sets.each do |set|
          %li
            = link_to set.name, controller: "set", action: "show", id: set.code
    
    Myriad also has a points list: 
    %ul
      %li Crucible of the Gods (3 points)
      %li Danaal, the Last Tome Keeper (3 points)
      %li Infernal Recall (3 points)
      %li Mox Amethyst (3 points)
      %li Mox Pyrope (3 points)
      %li Timely Lesson (2 points)
      %li Pactbound Mox (2 points)
      %li Aneirin, King of Autumn (2 points)
      %li To Dream A Ship (2 points)
      %li Dubious Tutor (2 points)
      %li Vathi Siege Mage (2 points)
      %li Collapsing Infrastructure (1 point)
      %li Chromatic Cube (1 point)
      %li Glimpse of Dawn (1 point)
      %li Briar King's Wake (1 point)
      %li Seeking the City (1 point)
      %li Flee the City (1 point)
      %li Wizard's Tactics (1 point)
      %li Brimstone Gatekeeper (1 point)
      %li Pilfered Mox (1 point)
      %li Remake In My Image (1 point)
      %li Throne of the Lost Ones (1 point)
      %li Vylinia, Curator of Wonders (1 point)
      %li Corpse Collector (1 point)
      %li Dilettante's Drive (1 point)
      %li Vyreith, City-Souled (1 point)
      %li Assemble the Heroes (1 point)
      %li Nissa's Meditations (1 point)
      %li Wild//Free (1 point)
      %li Curse of Silence (1 point)